<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

      >
<head>
    <title>Blog</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/base.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/modal/modal.css" rel="stylesheet" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
  <header class="base-size">
    <div class="row">
      <h3 class="title"><a href="/index">이익전의 블로그</a></h3>
      <ul class="main-menu" th:if="${session.id}">
        <li><a class="log-out" href="/index/logout">로그아웃</a></li>
        <li><a href="#">등록글보기</a></li>
      </ul>
      <ul class="main-menu" th:unless="${session.id}">
        <li><a class="login" href="#">로그인</a></li>
        <li><a class="sign-up" href="#">회원가입</a></li>
      </ul>
    </div>
  </header>
  <div class="base-size">
    <div class="content-box">
      <div class="content">
        <ul class="blogs" th:each="blog : ${blogs}">
          <li><a th:href="@{/blog/details(id=${blog.getId()})}" th:text="${blog.getTitle()}">블러그</a></li>
        </ul>
      </div>
      <aside class="side-menu">
        <ul class="catalogs" th:each="catalog : ${catalogs}">
          <li><a href="#" th:text="${catalog.getName()}" th:data="${catalog.getId()}" >카테고리</a></li>
        </ul>
      </aside>
    </div>
  </div>
  <footer>
    <h3>안녕 이익전의 블러그얔ㅋㅋ</h3>
  </footer>

  <div id="loginModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form class="" action="/index/login" method="post">
        아이디 : <input type="text" name="id" value="" />
        비밀번호 : <input type="password" name="password" value="" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>

  <div id="signUpModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form class="" action="index.html" method="post">
        아이디 : <input type="text" name="id" value="" />
        비밀번호 : <input type="password" name="password" value="" />
        확인 비밀번호 : <input type="passwredirectord" name="repassword" value="" />
        이름 : <input type="text" name="name" value="" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</body>
<script type="text/javascript" src="/js/modal/modal.js"></script>
<script type="text/javascript" th:inline="javascript">

    var ajaxCatalogs = document.querySelectorAll(".catalogs li a");

</script>
</html>
