<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

>
<head>
    <title>Blog</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h3 th:text="${blog.getTitle()}">제목</h3>
    <p th:text="${blog.getContent()}">내용</p>
    <p th:text="${blog.getDate()}">날짜</p>
    <p th:text="${blog.getUser().getName()}">작성유저</p>

    <div class="reply-box">
        <div th:if="${session.id}" >\
            <input class="content" type="text" name="reply_content"  />
        </div>
        <div th:unless="${session.id}">
            댓글은 로그인 해야 넣을수 있습니다.
        </div>
      <div>
        <ul class="replis">
          <li th:each="relpy : ${replry}">
            <h3 th:text = "${relpy.getUser().getUserId()}">제목</h3>
            <p th:text = "${relpy.getContent()}">내용</p>
            <p th:text = "${relpy.getDateComment()}">날짜</p>
          </li>
        </ul>
      </div>
    </div>
</body>
<script type="text/javascript" th:inline="javascript">
    var addReply = document.querySelector(".replis");
    var relpyContent = document.querySelector('.content');

    $('.reply-box input').on('keydown', function(e) {
        if (e.which == 13) {
            var data = {};
            data["user_id"] = "[[${session.key}]]";
            data["blog_id"] = "[[${blog.getId()}]]";
            data["content"] = relpyContent.value;
            relpyContent.value = "";
            $.ajax({
                contentType:'application/json',
                dataType:'json',
                data:JSON.stringify(data),
                url:'/detail/commentajax',
                type:'POST',
                success:function(response){
                  var today = new Date("1990-05-20 05:31:11");

                  today.setSeconds(response.date);

                  var liTag = document.createElement('li');
                  var h3Tag = document.createElement('h3');
                  var pContentTag = document.createElement('p');
                  var pDateTag = document.createElement('p');

                  h3Tag.innerHTML = "[[${session.id}]]";
                  pContentTag.innerHTML = data['content'];
                  pDateTag.innerHTML = response.date;
                  console.log(today);
                  liTag.appendChild(h3Tag);
                  liTag.appendChild(pContentTag);
                  liTag.appendChild(pDateTag);

                  addReply.appendChild(liTag);
                },
            });
        }
    });

</script>
</html>
